table, thead, tbody, td {
    border: 1px solid black;
}

th, td {
    padding: 15px;
}

.SubDiv {
    background-color: red;
    padding: 15px;
    border: 1px solid black;
    width: fit-content;
    float: left;
}
